
.wrapUsers{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;

}
.boxUser{
    width: 49%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background: #bfed64;

}

.boxUser:hover{
    background: red;
}
.titleDiv{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.btn{
    width: 20%;
    background: cornflowerblue;
    color: white;
    cursor: pointer;
    text-align: center;
    border: 1px solid black;
    text-decoration: none;
}
.userBox{
    border: 1px solid black;
    background: khaki;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.liAddress{
    font-size: 18px;
}
.liGeo{
    font-size: 16px;
}
.button{
    width: 80%;
    cursor: pointer;
    color: white;
    background: cornflowerblue;

}
.postWrap{
    background: #d2a3a3;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;

}
.divPost{
    border: 1px solid black;
    width: 20%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}
.divPost:hover{
    background: red;
}

.linkPost{
    color: white;
    text-decoration: none;
    background: cornflowerblue;
    width: 30%;
    text-align: center;
    border: 1px solid black;

}
.post{
    border: 1px solid black;
    background: #77acb0;
    display: flex;
    flex-direction: column;
    width:90%;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;

}

.postButton{
    width: 20%;
    cursor: pointer;
}
.commentsWrap{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
}
.commentDiv{
    display: flex;
    width: 25%;
    box-sizing: border-box;
    border: 1px solid black;
    background: mistyrose;
    justify-content: center;
    padding: 0 10px;
}
.commentDiv:hover{
    background: red;
}